# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
**/dist
**/es
**/lib
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
package-lock.json
yarn.lock

*bak
.vscode

# visual studio code
.history
*.log

.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache
.changelog
.changelog.md

pnpm-lock.yaml